{% extends "base.html" %}

{% block title %}
All Customers
{% endblock %}
{% block content %}

<table class="table table-striped">
    <thead>
        <tr>
            <th scope="col">ID</th>
            <th scope="col">Customer Name</th>
            <th scope="col">Balance</th>
            <th scope="col">Last Transaction</th>
        </tr>
    </thead>
    <tbody>

        {% for customer in customers %}
        <tr>
            <th scope="row">{{customer.pk}}</th>
            <td><a href="{% url 'customer_detail' customer.pk %}">{{customer.user_name}}</a></td>
            <td>${{customer.balance}}</td>
            {% if customer.transfer_sender.count > 0 %}
            <td>{{customer.transfer_sender.last.transfer_created}}</td>

            {% else %}
            <td> No Transactions Yet!</td>
            {% endif %}

        </tr>


        {% endfor %}

    </tbody>
</table>
{% endblock %}