<!-- TODO: Make a nice illistration for no transaction page! + nice bg image  -->
{% extends "base.html" %}

{% block title %}
{{object.user_name}}'s details!
{% endblock %}

{% block content %}


<div class="card w-75">
    <div class="card-body">
        <h5 class="card-title">{{object.user_name}}</h5>
        {% for transfer in object.transfer_sender.all %}

        <p class="card-text">{{transfer}}</p>
        {% empty %}
        <p class="card-text">No Transactions Yet!</p>
        {% endfor %}

        <a href="{% url 'money-trans' %}" class="btn btn-primary">Transfer Money</a>

    </div>
</div>
<hr>
{% endblock %}