body {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row-reverse;
    align-content: center;
    justify-content: center;
    margin-top: 80px;
}

button {
    padding: 10px;
    border-radius: 25px;
    margin-left: 10rem;
}
